* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 201, 232);
}
.contactform {
    border: 2px solid;
    background-color: purple;
    width: 50vw;
    height: 70vh;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    margin-top: 50px;
    box-shadow: 30px 20px 10px rgb(102, 87, 102);
}

.contactform h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
}

.contactform .mb-3 {
    text-align: center;
    line-height: 50px;
}

.contactform .button  {
    text-align: center;
    padding: 25px;
    color: black;
    font-weight: bold;
}

.contactform .button .btn {
    padding: 15px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(232, 201, 232);
}

.contactform .button .btn:hover {
    background-color: darkgray;
}

