* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#e6e6e6;
height: -100px;
}

.container {
    text-align: center;
    border: 2px solid;
    background-color: #999999;;
    width: 50vw;
    height: 91vh;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    margin-top: 50px;
    box-shadow: 30px 20px 10px rgb(73, 80, 78);
}

.container h1 {
    font-size: 37px;
    font-weight: bold;
    color: black;
    text-decoration:dotted;
}

.container .tools .nush li {
    list-style: none;
}

.container .tools{
    padding-top: 20px;
    font-size: 20px;
}

.container .tools .nush {
    padding-top: 10px;
}

.btn {
    display: inline;
    color:#3d4c41;
    font-weight: bold;
    padding: 3px;
    margin-top: -600px;
    font-size:20px;
}


@media only screen and (min-width: 768px) {
    .container {
            height: 80vh;
            margin-top: 21px;
        }
    }

    @media only screen and (max-width: 420px) {
        .container {
            background-color: #999999;
            border: none;
            width: 70vw;
            height: 13vh;
        }

        .btn {
            display: inline-block;
            margin-top: -150px;
            margin-left: 150px;
        }
    }