@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.sidebar {
    position: absolute;
    background-color: purple;
     /* width: 17vw;   */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh; 
    /* transition: transform 0.3s ease-in; */
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 20px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sidebar nav li a:hover {
    color: darkgrey;
}

.main {
    background-color: rgb(244, 186, 244);
    width: 120vw;
    /* vw is similar to percentage means its 80% for width */
}

.infocontainer {
    /* background-color: purple; */
    height: 60vh;
    /* for full height its similar to percentage */
    width: 75vw;
    margin: 147px auto;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    margin-left: 165px;

}

.container {
    display: flex;
    /* display: flex; it makes the content side by side */
    width: 100vw;
    height: 100vh; 
}

.dev {
    width: 380px;
    height: 410px;
    border-radius: 50%;
}

/* .tab {
    margin-left: 170px;
    height: 400px;
    width: 400px;
} */

/* .tab {
    display: none;
 } */

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 45px;
    font-family: 'Source Code Pro', monospace;
}

.name {
    font-size: 45px;
    font-weight: bold;
}

.about {
    font-size: 38px;
}

.moreabout {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;

}

.button {
    margin-top: 34px;
}

#me a {
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.button button {
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: rgb(230, 172, 230);
    font-weight: bold;
    margin: 0px 15px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
color: whitesmoke;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.sidebarGo {
    background-color: rgb(232, 162, 232);
    transform: translate(-443px, 0px);
    position: absolute;
}

.ham {
    size: 20px;
    color: black;
    border-radius: 15px;
}

.cross {
    margin-left: 155px;
    margin-top: -10px;
}


@media only screen and (max-width: 768px) {

     /* * {
        background-color: rgb(232, 162, 232);
    } 

    .
     .sidebar {
        background-color: rgb(232, 162, 232);
        transform: translate(-443px, 0px);
        position: absolute; 
        
    } */
    
    .dev {
        
        width: 322px;
    height: 324px;
     /* margin-top: -148px; */
    margin-right: 148px; 
}
    

    .devinfo {
        margin-left: -40px;

    }

    .infocontainer {
        margin-top: 120px;
        margin-left: 257px;
        
    }

    .main {
        width: 120vw;
        overflow: hidden;
    }

    .cross {
        margin-left: 148px;
    }
}



@media only screen and (max-width:420px) {
   
     body {
        overflow: hidden;
    } 
    .dev {
        width: 250px;
        height: 250px;
        /* margin-left: -350px; */
    }
    .infocontainer{
        display: flex;
        flex-direction: column-reverse;
        font-size: 2px;
        margin-left:30px;
         margin-top: 80px; 
    }
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        overflow: hidden; 
    }

    .main {
        height: 120vh;
        width: 114vw;
        /* overflow: hidden; */
    }

    .hello {
        font-size:30px ;
    }

    .name {
        font-size: 33px;

    }
     .about {
        font-size: 30px;
     }
}